<h1>Salut! ton compte sortir.com vient d'être crée</h1>

<p>
    Clique sur le lien ci-dessous afin de pouvoir créer ton mot de passe: <br><br>
    <a href="{{ signedUrl }}">Créer mon mot de passe</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
