{% extends 'base.html.twig' %}

{% block title %}Hello CampusController!{% endblock %}

{% block body %}

    <div class="header">
    {% for camp in listCampus%}
        <li>{{ camp.nom }}</li>
    {% endfor %}
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Campus</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>

        {% for camp in listCampus%}
        <tr>
            <td>{{ camp.nom }}</td>
            <td>    <a data-toggle="modal"  data-target="#modifier" class="btn btn-danger">Modifier
                    <i class="glyphicon glyphicon-trash"></i>
                    {{ camp. }}
                </a>


                <a data-toggle="modal"  data-target="#suppr" class="btn btn-danger">Supprimer
                    <i class="glyphicon glyphicon-trash"></i>
                </a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>





    <div class="modal fade" id="modifier">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">

                    {# A mettre dans fichier css
                    #}

                    <style>
                        .modal-content{
                            color: #1b1e21;
                        }
                    </style>


                    Etes-vous sur de vouloir supprimer votre évenement ?
                    <br>
                    Indiquez nous le motif de suppresion

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">OUI</button>
                    <button class="btn btn-info" data-dismiss="modal">NON</button>

                </div>
            </div>
        </div>
    </div>
















    <div class="modal fade" id="suppr">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">

                    {# A mettre dans fichier css
                    #}

                    <style>
                        .modal-content{
                            color: #1b1e21;
                        }
                    </style>


                    Etes-vous sur de vouloir supprimer votre évenement ?
                    <br>
                    Indiquez nous le motif de suppresion
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="lol">OUI</button>
                    <button class="btn btn-info" data-dismiss="modal">NON</button>

                </div>
            </div>
        </div>
    </div>












{% endblock %}
