{% extends 'base.html.twig' %}

{% block title %}Trouvez une sortie !{% endblock %}

{% block body %}
    <div >
        <header style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({{ asset('assets/imgs/bg_meeting.jpg') }}); background-position: center;" id="home" class="headerBis">
            <div class="overlayBis text-white text-center">
                {{ render(controller(
                    'App\\Controller\\EventResearchController::searchForm'
                )) }}
            </div>
        </header>



    </div>


    {% include('inc/gallery.html.twig') %}
    <script>
        document.getElementById('collapseButton').style.display= 'none';
        document.getElementById('collapseExample').style.display ='block';

    </script>

{% endblock %}
