{% extends 'base.html.twig' %}

{% block title %}Trouvez une sortie !{% endblock %}

{% block body %}
    <div class="header">
        <header style="background: url({{ asset('assets/imgs/bg_meeting.jpg') }}) no-repeat center center fixed;" id="home" class="header">
            <div class="overlay text-white text-center">
                {{ render(controller(
                    'App\\Controller\\EventResearchController::searchForm'
                )) }}
            </div>
        </header>



    </div>


    {% include('inc/gallery.html.twig') %}
{% endblock %}
