{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}
{% block header %}

    <div class="header">
        <header style="background: url({{ asset('assets/imgs/bg_meeting.jpg') }}) no-repeat center center fixed;" id="home" class="header">
            <div class="overlay text-white text-center">

                <h2 class="display-4 mb-5 customFont">PRENEZ UNE PAUSE !</h2>


                {{ render(controller(
                    'App\\Controller\\EventResearchController::searchForm'
                )) }}

            </div>
        </header>

    </div>

{% endblock %}
{% block body %}
    <div id="gallary" class="text-center bg-dark text-light has-height-md middle-items wow fadeIn">
        <h2 class="section-title">LES PROCHAINS EVENEMENTS</h2>
    </div>
    {% include('inc/gallery.html.twig') %}

{% endblock %}
