{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}
{% block header %}

    <div class="header">
        <header style="background: url({{ asset('assets/imgs/bg_meeting.jpg') }}) no-repeat center center fixed;" id="home" class="header">
            <div class="overlay text-white text-center">

                <h2 class="display-4 mb-5 customFont">PRENEZ UNE PAUSE !</h2>


                    <form  action="">

                        <div class="searchBox custom-form-control" >
                            <input type="text" id="research" class="form-control custom-form-control-lg custom-form-control-main" placeholder="évènement, lieu, ville...">

                            <button type="submit" class="rounded btn btn-lg btn-primary">
                                <i class="ti-search"></i>
                            </button>

                        </div>

                        <button class="btn btn-primary btnOption" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Plus d'options <i class="ti-angle-down"></i>
                        </button>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                //todo affichage des options de recherches
                            </div>
                        </div>


                    </form>


            </div>
        </header>

    </div>

{% endblock %}
{% block body %}
    <div id="gallary" class="text-center bg-dark text-light has-height-md middle-items wow fadeIn">
        <h2 class="section-title">LES PROCHAINS EVENEMENTS</h2>
    </div>
    {% include('inc/gallery.html.twig') %}

{% endblock %}
