{% extends 'base.html.twig' %}

{% block title %}acces refusé {% endblock %}

{% block body %}

<div class="header-detail">
    <div class="sortie-detail">

        <h3>¯\_(ツ)_/¯</h3>
        <h4 style="margin:auto;">Tu n'as pas les autorisations nécéssaires pour aller sur cette page</h4>

    </div>
</div>


{% endblock %}

