<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Trouvez un évènement</a></li>
                        <li><a href="#">Connexion</a></li>
                        <li><a href="#">Inscription</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>A propos</h3>
                    <ul>
                        <li><a href="#">Politique de confidentialité</a></li>
                        <li><a href="#">Notre équipe</a></li>
                        <li><a href="#">Signaler un problème</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Sortir.com</h3>
                    <p>Sortir.com est une plateforme dédiée aux étudiants des campus de l'ENI école informatique, voulant se changer les idées et rencontrer d'autres personnes autour d'évènements sociaux .</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">ENI © 2022</p>
        </div>
    </footer>
</div>

